@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat/Montserrat-Regular.ttf) format("opentype");
  }
  @font-face {
    font-family: Montserrat-semi-bold;
    src: url(./assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format("opentype");
  }