/* You can add global styles to this file, and also import other style files */
body{
    font-family: Montserrat;
    font-size: 16px; 
}
.container-box{
    background-color: #F0F0F6 !important;
    height: 95vh;
    overflow: hidden;
}

.heading1{
    color: #5E56E7;
    font-size: 48px;
}